<template>
  <v-alert
    v-if="!grammarlyClientId"
    type="error"
    title="Grammarly Client ID not found"
    text="Please notify developer"
  />
  <div v-else>
    <v-container class="editor-wrapper">
      <GrammarlyEditorPlugin :clientId="grammarlyClientId">
        <v-textarea
          v-model="mainText"
          ref="textareaRef"
          :label="STRINGS.prompt_write[currLanguage]"
          bg-color="amber-lighten-4"
          variant="solo-filled"
        />
      </GrammarlyEditorPlugin>
      <v-textarea
        v-model="translateText"
        :label="STRINGS.prompt_translate[currLanguage]"
        variant="solo-filled"
        bg-color="grey-lighten-2"
      />
    </v-container>
    <v-btn :disabled="!translateText" @click="getTranslation">{{
      STRINGS.translate[currLanguage]
    }}</v-btn>
    <v-btn color="primary">
      {{ STRINGS.name[currLanguage] }}
      <v-menu activator="parent">
        <v-list>
          <v-list-item
            v-for="(lang, index) in LANGUAGES"
            @click="useLang(lang)"
            :key="index"
            :value="index"
          >
            <v-list-item-title>{{
              STRINGS.name[lang as Language]
            }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-btn>
    <div class="translate-text-chips">
      <v-chip
        v-bind:key="text"
        v-for="text in translatedTextList"
        closable
        color="primary"
        @click="useChip(text)"
        @click:close="removeChip(text)"
      >
        {{ text }}
      </v-chip>
    </div>
  </div>
  <v-snackbar
    v-model="isSnackBarOpen"
    :timeout="2000"
    :color="snackBarColour"
    elevation="24"
    location="top"
  >
    {{ snackBarMessage }}
  </v-snackbar>
</template>

<script lang="ts">
import { VNodeRef, defineComponent, ref } from "vue";
import { GrammarlyEditorPlugin } from "@grammarly/editor-sdk-vue";
import "@vueup/vue-quill/dist/vue-quill.snow.css";
import { GRAMMARLY_CLIENT_ID } from "@/models/grammarly";
import { translate } from "@/api/translate";
import { LANGUAGES, Language } from "@/models/languages";
import { STRINGS } from "@/models/strings";

export default defineComponent({
  name: "HomeView",
  components: {
    GrammarlyEditorPlugin,
  },
  setup() {
    const currLanguage = ref<Language>(Language.ES);
    const mainText = ref("");
    const translateText = ref("");
    const translatedText = ref("");
    const translatedTextList = ref<string[]>([]);
    const textareaRef = ref<VNodeRef | null>(null);
    const isSnackBarOpen = ref(false);
    const snackBarMessage = ref("");
    const snackBarColour = ref("");

    const removeChip = (text: string) => {
      const textIndex = translatedTextList.value.indexOf(text);
      translatedTextList.value.splice(textIndex, 1);
    };

    const useChip = async (text: string) => {
      // Copy to clipboard
      try {
        await navigator.clipboard.writeText(text.trim());
        snackBarMessage.value = STRINGS.copy_success[currLanguage.value];
        snackBarColour.value = "green";
      } catch ($e) {
        snackBarMessage.value = STRINGS.copy_failed[currLanguage.value];
        snackBarColour.value = "red";
      }
      isSnackBarOpen.value = true;

      // Remove chip
      removeChip(text);

      // Focus on the main text
      textareaRef.value?.focus();
    };

    const useLang = (lang: Language) => {
      currLanguage.value = lang;
    };

    const getTranslation = () => {
      translate(translateText.value, currLanguage.value, "en").then(
        (response) => {
          translatedText.value = response;
          translatedTextList.value.push(response);
        }
      );
    };
    return {
      grammarlyClientId: GRAMMARLY_CLIENT_ID,
      mainText,
      translateText,
      translatedText,
      translatedTextList,
      getTranslation,
      useChip,
      useLang,
      removeChip,
      textareaRef,
      currLanguage,
      LANGUAGES,
      STRINGS,
      isSnackBarOpen,
      snackBarMessage,
      snackBarColour,
    };
  },
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.editor-wrapper {
  padding: 0 10%;
}
.translate-text-chips {
  margin: 16px 0;
}
</style>
